<div class="login-wrapper">

<div class="login-card">

<div class="logo">
    <img src="./../../../assets/USM_Logo.png" alt="USM Logo">
</div>

<form (ngSubmit)="login()">

  <input
    type="text"
    placeholder="User ID (USMxxxx)"
    [(ngModel)]="userId"
    (ngModelChange)="clearError()"
    name="userId"
    maxlength="8"
  />

  <input
    type="password"
    placeholder="Password"
    [(ngModel)]="password"
    (ngModelChange)="clearError()"
    name="password"
    maxlength="15"
  />

  <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>

  <button class="btn-gold" [disabled]="!canLogin">LOGIN</button>

</form>

</div>

</div>